header{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    button{
        background-color: orange;
        &:hover{
            background-color: red;
        }
    }
}